extends ../layout
block content
	form.form-horizontal(method="POST",action="/admin/movie/new")
		.container
			.row
				if (movie._id)
					input(type="hidden",name="movie[_id]", value=movie._id)
				.form-group
					label.col-sm-2.control-label(for="inputImdb") IMDB ID
					.col-sm-10
							input#inputImdb.form-control(type="text")
				.form-group
					label.col-sm-2.control-label(for="inputCategory") Movie Category
					.col-sm-10
							input#inputCategory.form-control(type="text", name="movie[categoryName]", value=movie.categoryName)
				.form-group
					label.col-sm-2.control-label Category Selection
					each cat in categories
						label.radio-inline
							if movie.category
								input(type="radio", name="movie[category]", value=cat._id, checked=cat._id.toString()==movie.category.toString())
							else
								input(type="radio", name="movie[category]", value=cat._id)
							| #{cat.name}
							
				.form-group
					label.col-sm-2.control-label(for="inputTitle") Movie Name
					.col-sm-10
							input#inputTitle.form-control(type="text",name="movie[title]", value=movie.title)
				.form-group
					label.col-sm-2.control-label(for="inputDirector") Movie Director
					.col-sm-10
							input#inputDirector.form-control(type="text",name="movie[director]", value=movie.director)
				.form-group
					label.col-sm-2.control-label(for="inputLanguage") Movie Language
					.col-sm-10
							input#inputLanguage.form-control(type="text",name="movie[language]", value=movie.language)
				.form-group
					label.col-sm-2.control-label(for="inputCountry") Country
					.col-sm-10
							input#inputCountry.form-control(type="text",name="movie[country]", value=movie.country)
				.form-group
					label.col-sm-2.control-label(for="inputPoster") Poster Address
					.col-sm-10
							input#inputPoster.form-control(type="text",name="movie[poster]", value=movie.poster)
				.form-group
					label.col-sm-2.control-label(for="inputFlash") Movie Source
					.col-sm-10
							input#inputFlash.form-control(type="text",name="movie[flash]", value=movie.flash)
				.form-group
					label.col-sm-2.control-label(for="inputYear") Show Year
					.col-sm-10
							input#inputYear.form-control(type="text",name="movie[year]", value=movie.year)
				.form-group
					label.col-sm-2.control-label(for="inputSummary") Movie Summary
					.col-sm-10
							input#inputSummary.form-control(type="text",name="movie[summary]", value=movie.summary)
			.row.text-right
				button.btn.btn-default(type="submit") Add New
	script(src='/js/admin.js')




