extends ../layout
block content
	.container
		.row
				.panel.panel-primary
					.panel-heading
						h3 #{keyword}
					.panel-body
						if movies && movies.length > 0
							each item in movies
								.col-md-2
									.thumbnail
										a(href="/movie/#{item._id}")
											img(src="#{item.poster}",alt="#{item.title}" style="width:160px;height:160px")
										.caption
											h6 #{item.title}
											a.btn.btn-primary(href="/movie/#{item._id}",role="button")
												Movie Preview
				ul.pagination
						-for (var i=1;i<=totalPage;i++){
							-if (currentPage == i){
								li.active
									span #{currentPage}
							-}
							-else {
								li 
									a(href="/results?#{query}&p=#{i}") #{i}
							-}

						-}